.logo{
	max-width: 80%;
}


@media screen and (max-width: 768px){
.logo {max-width: 150%;
padding: 3%;}
}


@media only screen 
and (min-width : 320px) 
and (max-width : 420px) {
.logo {max-width: 300%;
}
}

@media only screen 
and (min-width : 420px) 
and (max-width : 568px) {
.logo {max-width: 200%;
}
}


@media screen and (max-width: 320px){
.logo{
	max-width: 500%;
}
}

.whats{
	display: none;
}


.topbar-email, .topbar-phone {
	display: none; 
}

.social-icons {
	display: inline-block;	
	cursor: pointer;
	font-size: 150%;
}

.topbar{
	margin: 0 1% 0 1%;
}
.social-icons{
	padding-left: 2%;
}

.util {
	display: inline-block;
	margin: 0 1% 0 1%;
}


@media only screen 
and (min-width : 320px) 
and (max-width : 468px) {


.meal-mobile{
	display: none;}
.topbar{
	display: none;
}
.topbar-email, .topbar-phone {
	display: inline-block; 
	margin: 0 3% 0 1%;
	font-size: 150%;
}
.whats{
	display: block;
}
.whats img {
	max-width: 15%;
	position: fixed;
	top: 75%;
	z-index: 20;
	right: 5%;
}





}

@media screen and (max-width: 320px){
	.meal-mobile {
		display: none; 
	}
.topbar{
	display: none; ;
}
.topbar-email, .topbar-phone {
	display: inline-block; 
	margin: 0 3% 0 1%;
	font-size: 150%;
}
.whats{
	display: block;
}
.whats img {
	max-width: 15%;
	position: fixed;
	top: 75%;
	z-index: 20;
	right: 5%;
}

}


