.logo{
	max-width: 80%;
}
.social-icons ul li{
	list-style: none;
	display: inline-block;	
	cursor: pointer;
}
.social-icons ul li i{
	font-size: 170%;
}
.social-icons{
	
}
.topbar{
	margin: 0 1% 0 1%;
}
.social-icons a:nth-child(2):hover{
	color: #000080;
}

.util {
	display: inline-block;
}